body {
    font-family: 'SUSE', sans-serif;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: block;
}


.hide-when-requesting {
    display: block;
}

.htmx-request .hide-when-requesting {
    display: none;
}

body {
    font-family: "SUSE", sans-serif;
}